* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}


.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.top {
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    color: #FFFFFF;
}

.top__content {
    padding-top: 217px;
    padding-bottom: 493px;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 32px;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
}

.top__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: block;
    max-width: 481px;
    margin-bottom: 12px;
}

.btn {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: rgba(156, 3, 50, 1);
    padding: 13.3px 74px;
    border-radius: 30px;
    transition: background .4s;
}

.btn:hover {
    background: rgba(235, 68, 63, 1);

}

.cards {
    background-color: rgba(0, 9, 21, 1);
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.cards__item {
    width: 378px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    transition: border .4s;
    cursor: pointer;
    border: 3px solid rgba(0, 9, 21, 1);
}

.cards__item:hover {
    border: 3px solid #44D2FF;
}

.cards__item_1 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/card1.jpg);
}

.cards__item_2 {
    background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/card2.jpg);
}

.cards__item_3 {
    background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/card3.jpg);
}

.cards__item-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    top: 236px;
    left: 32px;
}